<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg" data-aos="slide-right">
                    <img src="../../assets/images/DreamShaper_v5_juice_3.jpg" alt="">
                    <div class="card-title">
                        <h1></h1>
                        <div class="card-desc">
                            <p></p>
                            <button>BuyNow</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg" data-aos="zoom-in">
                    <img src="../../assets/images/pexels-karen-laårk-boshoff-8281944.jpg" alt="" height="540">
                    <div class="card-title">
                        <h1></h1>
                        <div class="card-desc">
                            <p></p>
                            <button>BuyNow</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg" data-aos="slide-left">
                    <img src="../../assets/images/pexels-karolina-grabowska-4736560.jpg" alt="" height="540">
                    <div class="card-title">
                        <h1></h1>
                        <div class="card-desc">
                            <p></p>
                            <button>BuyNow</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card shadow-lg" data-aos="slide-right">
                    <img src="../../assets/images/pexels-alisha-mishra-1346347.jpg" alt="" height="540">
                    <div class="card-title">
                        <h1></h1>
                        <div class="card-desc">
                            <p></p>
                            <button>BuyNow</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg" data-aos="slide-down">
                    <img src="../../assets/images/pexels-cup-of-couple-7656391.jpg" alt="" height="540">
                    <div class="card-title">
                        <h1></h1>
                        <div class="card-desc">
                            <p></p>
                            <button>BuyNow</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg" data-aos="slide-left">
                    <img src="../../assets/images/pexels-timur-weber-8679377.jpg" alt="" height="540">
                    <div class="card-title">
                        <h1></h1>
                        <div class="card-desc">
                            <p></p>
                            <button>BuyNow</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
